name: Release Charts

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

          echo "
          owner: bcgov
          git-repo: helm-charts
          package-path: .cr-release-packages
          index-path: ./docs/index.yaml
          charts-repo: https://bcgov.github.io/helm-charts
          " > config.yaml

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Add Helm dependency repos
        run: |
          helm repo add bcgov https://bcgov.github.io/helm-charts.
          helm repo add bcgov-crunchy https://bcgov.github.io/crunchy-postgres/
          helm repo update # Update the local Helm repository cache

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_repo_url: https://bcgov.github.io/helm-charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
